<div class="container flex flex-col items-center justify-center h-full">
  <div class="container flex flex-col items-center justify-center">
    <div class="form-group row">
      <div class="block text-black text-lg font-bold mb-2">
        <input class="form-control rounded-md h-10 px-4 py-3" type="text" placeholder="Email">
      </div>
    </div>
    <div class="form-group row mt-4">
      <button
        class="block h-10 px-4 py-2 font-semibold text-white bg-blue-600 rounded-lg hover:bg-blue-500 focus:ring-4 focus:ring-offset-blue-600 focus:outline-none" (click)="onClickResetPassword()">
        Reset password
      </button>
    </div>
  </div>
</div>
