<header
  class="sticky top-0 w-full h-16 z-30 dark:bg-gray-700 backdrop-filter"
  [ngClass]="logoVisible ? 'bg-lightgreen' : ''"
>
  <nav
    class="
      container
      flex
      items-center
      justify-between
      h-full
      py-3
      mx-auto
      center
    "
  >
    <a
      [routerLink]="[path.Home]"
      class="text-2xl font-bold no-underline cursor-pointer"
    >
      <img
        style="height: auto; width: auto; max-height: 72px; max-width: 250px"
        class="p-3"
        [ngStyle]="{ visibility: logoVisible ? 'visible' : 'hidden' }"
        src="./assets/images/logo_navbar.png"
      />
    </a>

    <div class="flex items-center">
      <button
        [routerLink]="[path.Hexagons]"
        class="
          inline-block
          h-12
          px-6
          py-3
          mr-3
          font-semibold
          bg-gray-300
          rounded-lg
          hover:bg-yellow-800
          focus:ring-4 focus:ring-offset-gray-300
          focus:outline-none
          bg-yellow-900
        "
      >
        Marketplace
      </button>
      <button
        [routerLink]="[path.MyCollection]"
        class="
          inline-block
          h-12
          px-6
          py-3
          mr-3
          font-semibold
          bg-gray-300
          rounded-lg
          hover:bg-yellow-800
          focus:ring-4 focus:ring-offset-gray-300
          focus:outline-none
          bg-yellow-900
          rounded
        "
      >
        My collection
      </button>
      <button
        class="
          inline-block
          h-12
          px-6
          py-3
          font-semibold
          bg-yellow-900
          rounded-lg
          hover:bg-yellow-800
          focus:ring-4 focus:ring-offset-gray-300
          focus:outline-none
        "
        (click)="onClickSignOut()"
      >
        <div *ngIf="isLoggedIn">Sign out</div>
        <div *ngIf="!isLoggedIn">Sign in</div>
      </button>
    </div>
  </nav>
</header>
