<header
  class="
    sticky
    top-0
    w-full
    h-16
    z-30
    dark:bg-gray-700 backdrop-filter
  "
>
  <nav
    class="
      container
      flex
      items-center
      justify-between
      h-full
      py-3
      mx-auto
      center
    "
  >
    <a
      [routerLink]="[path.Home]"
      class="text-2xl font-bold no-underline cursor-pointer"
    >
      <span class="text-gray-400">A</span>B
    </a>

    <div class="flex items-center">
      <button
       [routerLink]="[path.Hexagons]"
        class="
          inline-block
          h-12
          px-6
          py-3
          mr-3
          font-semibold
          bg-gray-300
          rounded-lg
          hover:bg-yellow-800
          focus:ring-4 focus:ring-offset-gray-300
          focus:outline-none
          bg-yellow-900
        "
      >
        Marketplace
      </button>
      <button
        [routerLink]="['/', path.Hexagons]"
        class="
          inline-block
          h-12
          px-6
          py-3
          mr-3
          font-semibold
          bg-gray-300
          rounded-lg
          hover:bg-yellow-800
          focus:ring-4 focus:ring-offset-gray-300
          focus:outline-none
          bg-yellow-900
        "
      >
        Collection
      </button>
      <button
        class="
          inline-block
          h-12
          px-6
          py-3
          font-semibold
          bg-yellow-900
          rounded-lg
          hover:bg-yellow-800
          focus:ring-4 focus:ring-offset-gray-300
          focus:outline-none
        "
        (click)="onClickSignOut()"
      >
        Sign out
      </button>
    </div>
  </nav>
</header>
