<div class="max-w-[calc(100%+1rem)]  py-6 px-8 bg-white shadow-lg rounded-lg my-10 mx-10">
<!--  <div class="flex justify-center md:justify-end -mt-16">-->
<!--    <img class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500" src="https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">-->
<!--  </div>-->
  <div>
    
    <div class="grid grid-cols-2">
      
      <div class="px-20 flex flex-col items-center">
        <h2 class="text-gray-800 text-3xl font-semibold text-center">{{this.tokenName}}</h2>
        <img src="./assets/snow-capped-mountain.png" width="60%" alt="Gora">
      </div>
      <div class="px-20">
        <p>Funding plan: {{this.givenFunding}} € / {{this.wantedFunding}} €</p>
        <p class="mt-2 text-gray-600">
          <p class="font-bold text-xl">Spending resources:</p>
          <ul class="list-disc">
            <li>Renovated and refurbished the Škocjan Caves Information Centre in Matavun and furnished Information Point where visitors can obtain information on the Škocjan Caves Park, the Classical Karst on both sides of the border and the area of influence.
            <li>Prepared map of habitat types for part of the transitional area of the Škocjan Caves Park.
            <li>Trained voluntary nature protection supervisors.
            <li>Equipped laboratory classroom as well as the geological and biological exhibitions in the Škocjan 3 Natural Science Centre.
            <li>Strengthened co-operation with the Park's Network of Schools.
            <li>Brochure published in co-operation with cross-border partners on protected areas in the Classical Karst.
         </ul>
        <div class="grid grid-cols-2 mt-6">
          <div>
            <p class="font-bold text-xl	py-2 px-10">Price: {{this.price}} €</p>
          </div>
          <div>
            <button class="bg-lightgreen hover:bg-blue-700 text-white font-bold py-2 px-10 rounded">
              Support the cause
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
