<div class="flex flex-col">
  <div class="flex flex-auto items justify-start items-start pt-8">
    <img src="./assets/images/logo.png" class="w-1/4 ml-16" />
  </div>
  <div class="flex flex-auto items justify-start">
    <div class="ml-16 max-w-xs mt-6">
      Own chunks of virtual Slovenian natural landmarks and support
      organizations that look after the real ones.
    </div>
  </div>
  <div id="market" class="flex flex-col items-center justify-center mt-48">
    <div class="flex flex-col items-center justify-center h-full"></div>
    <div class="text-3xl font-bold">Support different organizations</div>
    <ul id="hexGrid" class="mt-8">
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" [routerLink]="['/', path.Token]">
            <img src="./assets/images/kocevski.png" alt="" />
            <h1>Kočevski rog</h1>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" [routerLink]="['/', path.Token]">
            <img src="./assets/images/cerknisko.png" alt="" />
            <h1>Cerkniško jezero</h1>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" [routerLink]="['/', path.Token]">
            <img src="./assets/images/skocjanske.png" alt="" />
            <h1>Škocjanske jame</h1>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" [routerLink]="['/', path.Token]">
            <img src="./assets/images/soca.png" alt="" />
            <h1>Reka Soča</h1>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" [routerLink]="['/', path.Token]">
            <img src="./assets/images/soline.png" alt="" />
            <h1>Sečovljske soline</h1>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" [routerLink]="['/', path.Token]">
            <img src="./assets/images/Token.png" alt="" />
            <h1>Token narodni park</h1>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" [routerLink]="['/', path.Token]">
            <img src="./assets/images/savica.png" alt="" />
            <h1>Slap Savica</h1>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
