<div class="mt-10 flex flex-col items-center justify-center">
  <ul id="hexGrid" class="flex flex-auto">
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img
            src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg"
            alt=""
          />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img
            src="https://lh3.googleusercontent.com/proxy/mcBMPiR1YE1pJt3ncNq_le0oeHN8iSLuLKNqb5Ghxp1yyWgAXpVwD0oGDS3lZQX7egpCkJ79rZESAyNf1ptK6SEgqQqL1YquZnHtjTxXpfPjUdZFs5xFC4FOCFyJU8kR4jGGqU4"
            alt=""
          />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="https://www.kpss.si/si/image/medium/1434" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img
            src="https://www.thinkslovenia.com/upload/sights_and_attractions/south/kocevski-rog_6.jpg"
            alt=""
          />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
  </ul>
</div>
