<div class="container flex flex-col items-center justify-center h-full">
  <p class="mb-8 text-5xl text-center text-white">Sign up</p>
  <div class="container flex flex-col items-center justify-center">
    <div class="form-group row">
      <div class="block text-black text-lg font-bold mb-2">
        <input class="form-control rounded-md h-10 px-4 py-3" type="text" placeholder="Username">
      </div>
    </div>
    <div class="form-group row">
      <div class="block text-black text-lg font-bold mb-2">
        <input class="form-control rounded-md h-10 px-4 py-3" type="email" placeholder="Email">
      </div>
    </div>
    <div class="form-group row">
      <div class="block text-black text-lg font-bold mb-2">
        <input class="form-control rounded-md h-10 px-4 py-3" type="password" placeholder="Password">
      </div>
    </div>
    <div class="form-group row">
      <div class="block text-black text-lg font-bold mb-2">
        <input class="form-control rounded-md h-10 px-4 py-3" type="password" placeholder="Repeat password">
      </div>
    </div>
    <div class="form-group row mt-4">
      <button
        class="block h-10 px-4 py-2 font-semibold text-white bg-darkgreen-900 rounded-lg hover:bg-darkgreen-700 focus:ring-4 focus:ring-offset-blue-600 focus:outline-none"
        (click)="onClickSignUp()">
        Sign up
      </button>
    </div>
    <div class="form-group row mt-2">
      <a class="text-xs text-white" href="sign-in">Already signed up?</a>
    </div>
  </div>
</div>
